@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700,700i');
/*@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker|Russo+One');*/


.font-1 {
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font-family: Arial, sans-serif;
  font-weight: 400;
    /*font-family: 'Roboto Slab', serif;
    font-weight: 500!important;*/
}
/*.font-2 {
    font-family: 'Permanent Marker', cursive;
}*/
.font-3 {
    /*font-family: 'Roboto Slab', serif;*/
    /*font-family: 'Montserrat Alternates', sans-serif;*/
    font-family: Arial, sans-serif;
    font-weight: 600!important;
    color: White;
}
body {
    overflow-x: hidden;
  /*  background: #490048; /* Old browsers */
    /*background: -moz-linear-gradient(left, #490048 0%, #770065 22%, #890060 40%, #890060 60%, #770065 78%, #490048 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left, #490048 0%,#770065 22%,#890060 40%,#890060 60%,#770065 78%,#490048 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right, #490048 0%,#770065 22%,#890060 40%,#890060 60%,#770065 78%,#490048 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#490048', endColorstr='#490048',GradientType=1 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#398235+0,8ab66b+20,c9de96+53,8ab66b+80,398235+100 */
    /*background: #183a18; /* Old browsers */
    /*background: -moz-linear-gradient(left, #183a18 0%, #296629 20%, #4a8e56 40%, #4a8e56 60%, #296629 80%, #183a18 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left, #183a18 0%,#296629 20%,#4a8e56 40%,#4a8e56 60%,#296629 80%,#183a18 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right, #183a18 0%,#296629 20%,#4a8e56 40%,#4a8e56 60%,#296629 80%,#183a18 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183a18', endColorstr='#183a18',GradientType=1 ); /* IE6-9 */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003333+0,004444+10,005555+20,006666+30,007777+40,007777+60,006666+70,005555+80,004444+90,003333+100 */
background: #003333; /* Old browsers */
background: -moz-linear-gradient(left, #003333 0%, #004444 10%, #005555 20%, #006666 30%, #007777 40%, #007777 60%, #006666 70%, #005555 80%, #004444 90%, #003333 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #003333 0%,#004444 10%,#005555 20%,#006666 30%,#007777 40%,#007777 60%,#006666 70%,#005555 80%,#004444 90%,#003333 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #003333 0%,#004444 10%,#005555 20%,#006666 30%,#007777 40%,#007777 60%,#006666 70%,#005555 80%,#004444 90%,#003333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003333', endColorstr='#003333',GradientType=1 ); /* IE6-9 */
    background-repeat: repeat-y;
    font-size: 1.3em;*/
}

@media (max-width: 400px) {
   body {
     font-size: 1em;
   }
 }

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,255, 0.7), rgba(0, 0, 0, 0));
}

/*a {
  font-family: 'Roboto Slab', serif!important;
  font-weight: 400;
}*/

a:link {
    color: #006666;
}
a:visited {
    color: #003333;
}
a:hover {
    color: #007777;
}
a:focus, a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5em!important;
    margin: 0.8em 0.8em 0.8em 0.8em;
    color: #005555;
}
@media (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 2.3em!important;
        margin: 0.9em 0.9em 0.9em 0.9em;
    }
}
@media (min-width: 992px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 3em!important;
        margin: 1em 1em 1em 1em;
    }
}

.no-margin-bottom {    /* used on h3 with extra text  */
  margin-bottom: 0px;
}
.h3-margin {
margin-left: 2.6em;
}
/* TO BE SORTED */
.whitebg {
    background-color: #fff;
}
.greyt {
    background-color: #f2f2f2;
}
.grey {
    background-color: #eceeef;
}
.pad25 {
    padding-left: 25px!important;
    padding-right: 25px;
}
.marbot15 {
    margin-bottom: 15px;
}
.vertmid {
    vertical-align: middle!important;
}

.no-margin-lr {   /*  used to remove padding from row class  */
  margin-left: 0px;
  margin-right: 0px;
}

/* END to be sorted */

/* ---===###  BANNER  ###===--- */
.logofull {
    width: 100%;
    box-shadow: 0px 9px 5px -5px #888888;
}
.imgfull {
    width: 100%;
    box-shadow: 0px 19px 15px -5px #888888;
}
/*Use  noPadding in the container-fluid around the banner */

.noPadding {
    padding: 0 !important;
}

/*  switch between small & large banner images  */

@media (max-width: 600px) {
    #xl-logo {
        display: none;
    }
    /*#sm-logo {
        padding: 6px 17px 0px 17px;
        background-color: #292B2C;
    }*/
    h2.anchor {
        padding-top: 225px;
        margin-top: -225px;
    }
}

@media (min-width: 601px) {
    #sm-logo {
        display: none;
    }
    h2.anchor {
        padding-top: 65px;
        margin-top: -65px;
    }
    /*.xlhide {
        display: none;  <!-- teleffon uit/aan bij groter scherm -->
    }*/
}
/* END BANNER */

/* ---===###  NAVIGATION  ###===--- */
.navbar {
    box-shadow: 1px 7px 8px -5px;
    padding: 0, 1rem, 0, 1rem;
}
/*makes the navbar lineup to toggle menu*/

.navbar-header {
    margin-bottom: 1px;

}
.navbar-toggler {
    margin-top: 0.1em;
    padding-top: 0em;
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-size: 1.3em;
}

.navbar-toggler-icon {
    height: 1.2em;
    width: 1.2em;
}
/*@media (max-width: 300px) {
  .navbar {*/
      /*padding: .5rem .7rem;*/
      /*padding: 1rem;*/
  /*}
  .navbar-toggler-icon {
    height: 1em!important;
    width: 1em!important;
  }
}*/
#navbar-nav {
    margin-left: 1em;
    margin-right: 1em;
}

.navbar-inverse .navbar-toggler {
    border-color: #292B2C;
  }



/*.anchor is used on links within the page so they allign under fixed-top navbar*/

h2.anchor {
    padding-top: 60px;
    margin-top: -60px;
}

.nav {
  padding-left: .5em;
}

/*Keeps the nav toggle from overlapping on small screens*/

@media (max-width: 576px) {
    nav .container {
        width: 100%;
    }
}
/* Nav stick to top after scroll */

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    width: 100%;
}
/* main-nav social button styles */
@media (max-width: 600px) {
    ul.social-button-nav li a i {
        color: #fff;
        /*width: 24px;
        height: 24px;*/
        border-radius: 30px;
        font-size: 1.3em;
        text-align: center;
        margin: 0px 0px 0px 12px;
        padding-top: 0.25em;
        padding-right: 0.03em;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 601px) {
    ul.social-button-nav li a i {
        color: #fff;
        /*width: 40px;
        height: 40px;*/
        border-radius: 40px;
        font-size: 1.3em;
        text-align: center;
        margin: 0px 6px 0px 6px;
        padding-top: 0.2em;
        padding-right: 0.2em;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 1700px) {
#navbarCollapse {
  margin-right: 3vw;
}
}
/*.nav-wie {
  padding-right: 0.5em;
}
.nav-cv {
  padding-right: 0.5em;
}*/


/* END NAVIGATION */

/* ---===###  HERO SECTION  ###===--- */

p.heroText {
  font-size: 1.6em;
}
i.heroText {
  font-size: 2em;
}
#monkey{
  max-height: 35vh;
  background-position: center center;
}
@media (max-height: 500px)
and (orientation : landscape)
{
#monkey {
  display: none;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 544px and up) */
/*@media (min-width: 544px) {
  p.heroText {
    font-size: 1.6em;
  }
  i.heroText {
    font-size: 1.6em;*/
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  p.heroText {
    font-size: 2em;
  }
  i.heroText {
    font-size: 2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  p.heroText {
    font-size: 2.5em;
  }
  i.heroText {
    font-size: 2.5em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  p.heroText {
    font-size: 3em;
  }
  i.heroText {
    font-size: 3em;
  }
}

/*  END HERO SECTION */

/* ---===###  ABOUT (Wie?) SECTION  ###===--- */
#aboutme {
    margin-top: 15px;
}

.myskill p {
  font-size: 1.4em!important;
}
.bakkes{
  max-width: 125px;
  position: relative;
-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
box-shadow: 1px 3px 3px rgba(0, 0, 0, .5);
padding: 2px;
}

/* Small devices (landscape phones, 544px and up) */
/*@media (min-width: 544px) {
  .bakkes{
    max-width: 150px;
  }
}*/

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .bakkes{
    max-width: 180px;
  }
}

@include media-breakpoint-up(sm) {
  .myskill p {
    font-size: 1.5vw!important;
  }

}

@include media-breakpoint-up(md) {
  .myskill p {
    font-size: 0.5vw!important;
  }

}
@include media-breakpoint-up(lg) {
  .myskill p {
    font-size: 0.5vw!important;
  }
}
}

.bottompad10 {
  padding-bottom: 20px!important;
}
/* END ABOUT (Wie?) SECTION */

/* ---===###  PORTFOLIO SECTION  ###===--- */
.img-thumbnail {
border-radius: 0;
}

img {
    image-rendering: optimizeSpeed;
    /*                     */

    image-rendering: -moz-crisp-edges;
    /* Firefox             */

    image-rendering: -o-crisp-edges;
    /* Opera               */

    image-rendering: -webkit-optimize-contrast;
    /* Chrome (and Safari) */

    image-rendering: optimize-contrast;
    /* CSS3 Proposed       */

    -ms-interpolation-mode: nearest-neighbor;
    /* IE8+                */

    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
/* make the "X" close-button larger */

.close {
    font-size: 2.5rem;
    margin-top: 3px;
    margin-right: 7px;
}

.modul-footer {
    padding-left: 1rem;
}
/* Weer API styling*/

.hide {
    display: none;
}
#weer-api {
    border-radius: 25px;
    border: 4px solid #fff;
    padding: 15px;
    background-color: DodgerBlue;
    font-size: 0.4em;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 95%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: 31vh!important;
}

/* END PORTFOLIO SECTION */

/* ---===###  CONTACT SECTION  ###===--- */
#contact {
font-size: .9em;
}

#gotocontact {
    margin-bottom: 30px;
}
#email1 {
    display: none;
}
/* hide "message send check" at small screen width */

@media (max-width: 400px) {
    #check {
        display: none;
    }
}
@media (min-width: 768px) {
    .contactpadding {
        padding-top: 28px;
    }
}
.hidden {
    display: none;
}
/*  END CONTACT SECTION */

/* ---===###  FOOTER (Page) SECTION  ###===--- */
.main-footer {

}
/* END FOOTER (Page) SECTION */

/* ---===###  BOOTSTRAP "SUCCES BUTTON" COLOR ALTERATION  ###===--- */
.btn-succes {
    border-color: #440055;
    background-color: #ffffff;
    color: #000;
}
.btn-succes:hover {
    border-color: #440055;
    background-color: #ffffff;
    box-shadow: 0px 1px 7px 1px #440055;
    color: #000;
}
/* END SUCCES BUTTON ALTERATION */

/* ---===###  ALL THAT BOX SHADOW  ###===--- */
.boxshadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
}
/*  Make the image fit the box */
/*.boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}*/

.boxshadow::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* hide shadow behind image */

    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    height: 100px;
    bottom: 0;
}
/*  END ALL THAT BOX SHADOW */

/* ---===###  BOUNCE EFFECT  ###===--- */
.bounce {
 /*position: absolute;
 bottom: 30px;
 left: 50% ;*/
 /*width: 60px;
 height: 60px ;*/
 /*margin-left:-30px;
 border: 2px solid #fff;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;*/
 animation: bounce 3s infinite;
 -webkit-animation: bounce 3s infinite;
 -moz-animation: bounce 3s infinite;
 -o-animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/*  END BOUNCE EFFECT  */


/* ---===###  SOCIAL ICONS (Color alterations)  ###===--- */
/*ul.social-button li a i {
    color: #fff;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    margin: 0px 6px 0px 0px;
    padding-top: 0.25em;
    padding-right: 0.03em;
    transition: all 0.3s ease-in-out;
    margin-bottom: 7px;
}*/

ul.social-button  li a i {
    color: #005555!important;
    width: 24px;
    height: 24px;
    border-radius: 30px;
    /*font-size: 16px;*/
    text-align: center;
    margin: 0px 6px 0px 0px;
    padding-top: 0.25em;
    padding-right: 0.03em;
    transition: all 0.3s ease-in-out;
    margin-bottom: 7px;

}
.greenawesome {
  padding-left: 0px!important;
  font-size: 1.4em;
}

.fa-phone {
  color: limegreen!important;
  padding-left: .3em;
}
/*.social-button-nav li a i:hover {
    box-shadow: 0px 1px 9px 2px #888888;
}
.social-button li a i:hover {
    box-shadow: 0px 1px 4px 2px #007777;
}*/
.nav-item .fa {
    color: #fff;
    font-size: 1.2em;
    margin-right: 5px;
}
/* END SOCIAL ICONS */
#particles-js {
   /*background-color: #660080;*/
   position:fixed;
   top:0;
   right:0;
   bottom:0;
   left:0;
   z-index:0;
 }
 #overlay {
   position:relative;
 }


/*The best way to deal with Bootstrap is hit it with a sledgehammer

Where you see all the nasty class names like 'navbar navbar-default' and 'nav navbar-nav' add an id - see below in red (but remember you can only use an id once per page).

<nav class="navbar navbar-default" id="navbar-default">

<ul class="nav navbar-nav" id="navbar-nav">


Then bash it around the head by effcetively by-pasing the css classes with css ids which take greater importance:

#navbar-default {
background-color: #096;
}
#navbar-nav a {
background-color: #096;
color: #fff;
}
#navbar-nav a:hover {
background-color: #060;
color: #fff;
}
#navbar-nav .active a {
background-color: #060;
color: #fff;
}*/
